{{define "main"}}
<h2 class="fw-bold mb-4">Latest snippets</h2>
{{if .}}
<table class="table table-hover">
    <thead>
        <tr>
            <th scope="col">Title</th>
            <th scope="col">Created</th>
        </tr>
    </thead>
    <tbody>
        {{range .}}
        <tr>
            <td><a href="/snippet/view/{{.ID}}" class="text-decoration-none">{{.Title}}</a></td>
            <td>{{.Created}}</td>
        </tr>
        {{end}}
    </tbody>
</table>
{{else}}
<p>There's nothing to see here!</p>
{{end}}
{{end}}