{{define "title"}}
{{.Title}}
{{end}}

{{define "main"}}
<div class="card">
    <div class="card-header fw-semibold d-flex justify-content-between">
        {{.Title}}<span>#{{.ID}}</span>
    </div>
    <div class="card-body">
        <pre><code>{{.Content}}</code></pre>
    </div>
    <div class="card-footer text-body-secondary d-flex justify-content-between flex-column flex-sm-row">
        <time>Created: {{humanReadableDate .Created}}</time>
        <time>Expires: {{humanReadableDate .Expires}}</time>
    </div>
</div>
{{end}}